# ======================================================
# Terraform
# ======================================================

**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# Ignore tfvars (contains secrets like PAT)
*.tfvars
!*.tfvars.example

# Keep provider lock file
!.terraform.lock.hcl

# ======================================================
# Environment Files
# ======================================================

.env
.env.*

# ======================================================
# Java
# ======================================================

**/target/

# ======================================================
# Node
# ======================================================

**/node_modules/

# ======================================================
# IDE
# ======================================================

.vscode/
.idea/

# ======================================================
# OS
# ======================================================

.DS_Store
Thumbs.db

# ======================================================
# Logs
# ======================================================

*.log

# Terraform Plan
*.tfplan

# Azure DevOps Agent
.azagent/

# Build Artifacts
infra/artifacts/